@import '../../../constants.scss';

.navigation {
  width: 100%;
  height: 150px;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  padding: 50px 30px 30px 30px;

  &_title {
    font-family: 'Goma Octagon';
    font-size: 30px;
  }

  &_item {
    font-family: 'Goma Octagon';
    font-size: 30px;
  }

  &_item > span {
    background-color: $lite-dark;
    border-radius: 7px;
    border: 3px solid $lite-green;
  }
}
