@import '../../../constants.scss';

.navigation {
  width: 100%;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px 20px 20px;
  flex-wrap: wrap;

  &_title {
    display: flex;
    flex-basis: 100%;
    white-space: nowrap;
    font-family: 'Bombardier Regular';
    font-size: 30px;
  }

  &_title > span:first-child {
    display: flex;
    align-items: center;
    padding-right: 5px;
  }

  &_title > span:not(:first-child) {
    padding: 4px;
    background-color: $lite-dark;
    border-radius: 7px;
    border: 2px solid $lite-green;
  }

  &_item {
    position: relative;
    max-width: 33%;
    padding: 5px 5px 0 0;
    font-family: 'Bombardier Regular';
    font-size: 30px;
    display: flex;
  }

  &_item > span:first-child {
    display: flex;
    align-items: center;
    padding-right: 5px;
  }

  &_item > span:not(:first-child) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px 4px 4px 4px;
    background-color: $lite-dark;
    border-radius: 7px;
    border: 2px solid $lite-green;
  }

  &_item > span:hover + &_button-cansel {
    display: block;
    background-color: rgba($lite-green, 0.3);
  }

  &_item > span:hover:not(:first-child) {
    background-color: rgba($lite-green, 0.3);
  }

  &_button-cansel {
    display: none;
    z-index: 2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  &_button-cansel:before {
    content: '';
    position: absolute;
    top: 7px;
    right: 0px;
    width: 20px;
    height: 5px;
    background: $lite-green;
    transform: rotate(45deg);
  }
  &_button-cansel:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 0px;
    width: 20px;
    height: 5px;
    background: $lite-green;
    transform: rotate(-45deg);
  }
}
