@import '../../constants.scss';
.logo {
  font-family: 'Goma Octagon';
  margin-bottom: 20px;

  &__title {
    font-size: 50px;
  }

  &__subtitle {
    font-size: 30px;
  }
}

.logo:hover {
  color: rgba($lite-green, 0.7);
}