.scene {
  max-width: 1370px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.scene__side-bar-left {
  flex: 0 0 auto;
  height: 100%;
}

.scene__main-scene {
  width: 100%;
  flex: 1 1 auto;
}
