@import '../constants.scss';

.scene {
  max-width: 1370px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  overflow: hidden;

  @media screen and (max-width: $SCREEN_SM) {
    display: block;
    min-width: $SCREEN_SM;
  }
}

.scene__side-bar-left {
  flex: 0 0 300px;
  overflow: hidden;

  @media screen and (max-width: $SCREEN_SM) {
    display: block;
    min-width: $SCREEN_SM;
  }

  @media screen and (max-width: $SCREEN_MD) and (min-width: $SCREEN_SM) {
    flex-direction: row;
    flex: 10000 0 300px;
    display: block;
  }
}

.scene__main-scene {
  flex: 1 1;
  overflow: hidden;

  @media screen and (max-width: $SCREEN_SM) {
    display: block;
    min-width: $SCREEN_SM;
  }
}

.scene__btn-show-menu {
  position: relative;
  display: none;

  @media screen and (max-width: $SCREEN_MD) and (min-width: $SCREEN_SM) {
    flex: 0 0 100px;
    position: relative;
    display: block;
  }
}

.scene {
  &__arrow {
    position: absolute;
    border: solid $lite-green;
    display: inline-block;
    padding: 30px;
    transform: rotate(-45deg);

    &__right {
      left: 0%;
      border-width: 0 10px 10px 0;
    }

    &__left {
      right: 0%;
      border-width: 10px 0px 0px 10px;
    }
  }
}
