@import '../../constants.scss';

.item-list-books {
  width: 200px;
  background-color: $big-dark;
  display: flex;
  flex-direction: column;

  &__image {
    margin: 5px 0px;
    min-width: 100%;
    align-self: center;
  }

  &__title {
    margin-top: 5px;
    text-align: center;
    padding-left: 10px;
    font-size: 20px;
  }

  &__author {
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
  }
}
