@import '../../constants.scss';

.item-list-books {
  width: 200px;
  background-color: $big-dark;
  display: flex;
  flex-direction: column;

  &__image {
    margin: 5px 0px;
    min-width: 100%;
    flex: 1 1 auto;
  }

  &__title {
    margin-top: 5px;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    align-content: flex-end;
  }

  &__author {
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    align-content: flex-end;
  }
}
