@import '../../../constants.scss';

.menu-side-bar {
  margin-top: 60px;
  color: $main-white;
  font-size: 20px;

  &__logo {
    color: grey;
    margin-bottom: 7px;
  }

  &__list {
    list-style-type: none;
  }

  &__list > li {
    padding: 15px 0;
  }
}
