@import '../../constants.scss';

.seach {
  position: relative;
  display: flex;

  &__input {
    position: relative;
    background-color: $lite-dark;
    color: $main-white;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    border: 1px solid grey;
    z-index: 20;
  }

  &__input:focus {
    outline: none;
    border: 1px solid $lite-green;
  }

  &__button {
    &-seach {
      position: absolute;
      background-color: $lite-dark;
      z-index: 50;
      width: 24px;
      left: 10px;
      top: 9px;
    }
  }
}

.seach-input::placeholder {
  color: grey;
}
