@import 'reset.scss';
@import 'constants.scss';

@font-face {
  font-family: 'Goma Octagon';
  src: url('./fonts/goma-octagon.regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Bombardier Regular';
  src: url('./fonts/BOMBARD_.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

#root {
  background:linear-gradient(to right, $big-dark, $lite-dark);
}