@import '../../../constants.scss';

.book {
  &__main-block {
    overflow: hidden;
  }

  &__container {
    padding: 20px;
  }

  &__image {
    max-width: 500px;
    width: 100%;
  }

  &__image-block {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: $lite-dark;
    border-radius: 10px;
    border: 2px solid $lite-green;
  }
}

.book-aboutBook {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px 10px 10px;

  &__title {
    flex: 1 1 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
  }

  &__title > span {
    border-bottom: 3px solid $lite-green;
  }

  &__authors {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &-title {
      flex: 0 0 160px;
      font-size: 20px;
      padding-right: 7px;
    }

    &-title > span {
      border-bottom: 3px solid $lite-green;
    }

    &-item:not(:first-child) {
      padding-top: 10px;
    }

    &-item {
      list-style-type: none;
    }

    &-item > div > span {
      padding: 5px;
      border: 1px solid $lite-green;
      background-color: $lite-dark;
      border-radius: 4px;
    }

    &-item > div > span:hover {
      padding: 5px;
      background-color: $lite-green;
      border-radius: 3px;
    }

    &-list {
      flex: 1 1 content;
      font-size: 20px;
    }
  }

  &__first-publish-date {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 20px;
    padding-top: 20px;

    &-data {
      flex: 1 1 auto;
    }

    &-title {
      flex: 0 0 160px;
      padding-right: 7px;
    }

    &-title > span {
      border-bottom: 3px solid $lite-green;
    }
  }

  &__subject {
    white-space: pre-wrap;
    padding-top: 20px;
    display: flex;

    &-title {
      flex: 0 0 160px;
      font-size: 20px;
      padding-right: 7px;
    }

    &-title > span {
      border-bottom: 3px solid $lite-green;
    }

    &-list {
      white-space: pre-line;
      overflow: hidden;
      font-size: 20px;
      line-height: 30px;
      max-width: inherit;
    }

    &-item {
      overflow: hidden;
    }
  }
}

.book-description {
  white-space: pre-wrap;
  padding-top: 20px;
  text-indent: 20px;
  line-height: 30px;
  text-align: justify;
  font-size: 20px;
}
